*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 14px;
    font-weight: 500;
    background-color: #eee;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container{
   
    width: 100% !important;
    height: 100vh;
}
.login-form{
    padding: 15px;
    margin: auto;
    max-width: 100%;
    width: 470px !important;
}
.form-group input{
   border-radius: 20px;
}
.form-control{
    font-size: 14px;
    min-height: 48px;
}
.form-control:focus{
    border-color: #1136C7 !important;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.forgot-link{
    font-size: 13px;
}
.forgot-link label{
    margin-bottom: 0;
}
.login-form a{
    text-decoration: none;
}
.login-form a:hover{
    color: #1136C7;
}
.btn-custom{
    background: linear-gradient(45deg,#3498DB,#1136C7);
    border-radius: 20px;
    border: #1136C7;
    color: #fff;
    min-height: 48px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: linear-gradient(45deg,#3498DB,#1136C7);
    border: #54229d;
    color: #fff;
    letter-spacing: 2px;
}
/*.login-container a{
    font-size: 14px !important;
}*/
